---
import config from "@/config/global";
import { plainify } from "@/lib/utils/textConverter";
import Footer from "@/layouts/components/Footer.astro";
import Header from "@/layouts/components/Navbar.astro";
import "@/styles/main.css";
import {
  GoogleTagmanager,
  GoogleTagmanagerNoscript,
} from "@digi4care/astro-google-tagmanager";
import { AstroFont } from "astro-font";
import { ClientRouter, ViewTransitions } from "astro:transitions";
import TwSizeIndicator from "./components/TwSizeIndicator.astro";
import "@fontsource/montserrat-alternates/300.css";
import "@fontsource/montserrat-alternates/400.css";
import "@fontsource/montserrat-alternates/500.css";
import "@fontsource/montserrat-alternates/600.css";
import "@fontsource/pacifico";

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

// destructure frontmatter
const { title, meta_title, description, image, noindex, canonical } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <ViewTransitions />
    <!-- google tag manager -->
    <GoogleTagmanager id={config.googleTagManagerId} />
    <!-- favicon -->
    <link rel="shortcut icon" href={config.logo.primary} />
    <!-- theme meta -->
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="generator" content={Astro.generator} />

    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <!-- title -->
    <title>
      {
        plainify(
          meta_title ? meta_title : title ? title : config.seo.defaultTitle,
        )
      }
    </title>

    <!-- canonical url -->
    {canonical && <link rel="canonical" href={canonical} item-prop="url" />}

    <!-- noindex robots -->
    {noindex && <meta name="robots" content="noindex,nofollow" />}

    <!-- meta-description -->
    <meta
      name="description"
      content={plainify(description ? description : config.seo.description)}
    />

    <ClientRouter />

    <!-- author from config.json -->
    <meta name="author" content={config.businessName} />

    <!-- og-title -->
    <meta
      property="og:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.seo.defaultTitle,
      )}
    />

    <!-- og-description -->
    <meta
      property="og:description"
      content={plainify(description ? description : config.seo.description)}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${config.seo.siteUrl}/${Astro.url.pathname.replace("/", "")}`}
    />

    <!-- twitter-title -->
    <meta
      name="twitter:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.seo.defaultTitle,
      )}
    />

    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={plainify(description ? description : config.seo.description)}
    />

    <!-- og-image -->
    <meta
      property="og:image"
      content={`${config.seo.siteUrl}${image ? image : config.seo.metaImage}`}
    />

    <!-- twitter-image -->
    <meta
      name="twitter:image"
      content={`${config.seo.siteUrl}${image ? image : config.seo.metaImage}`}
    />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <GoogleTagmanagerNoscript id={config.googleTagManagerId} />

    <TwSizeIndicator />
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
